.header {
  @apply bg-white
    shadow
    dark:bg-gray-800;

  .textWrapper {
    @apply mx-auto
      w-2/3
      py-4;

    h1 {
      @apply text-3xl
        font-bold
        text-gray-900
        dark:text-gray-100;
    }

    a {
      @apply mt-2
        text-indigo-500
        hover:underline;
    }
  }
}

.main {
  @apply flex
    w-full
    flex-col
    items-center
    justify-center
    gap-10
    py-10;

  .section {
    @apply w-2/3;

    h2 {
      @apply text-2xl
        font-bold
        text-gray-900
        dark:text-gray-100;
    }

    .featuresList {
      @apply mt-4
        space-y-4;

      li {
        @apply flex
          items-start
          space-x-3;

        svg {
          @apply mt-1
            size-6
            flex-shrink-0
            text-green-500;
        }

        h3 {
          @apply font-medium
            text-gray-900
            dark:text-gray-100;
        }

        p {
          @apply mt-2
            text-gray-600
            dark:text-gray-300;
        }
      }
    }

    .maintainer {
      @apply flex
        flex-col
        items-center
        justify-center
        gap-4;

      .info {
        @apply mt-4
          flex
          flex-col
          items-center
          gap-2;

        img {
          @apply size-20
            rounded-full;
        }

        .text {
          @apply flex
            flex-col
            items-center
            justify-center
            gap-1;
        }
      }

      .text {
        @apply text-center;
      }
    }

    .repoInfo {
      @apply mt-2
        text-gray-600
        dark:text-gray-300;
    }

    .repoLink {
      @apply mt-1.5
        block
        text-indigo-500
        hover:underline;

      code {
        @apply rounded-sm
          bg-gray-200
          p-1
          dark:bg-gray-700;
      }
    }
  }
}
